

<section id="about-us">
  <div class="slider">
    <ul class="rslides">
      <li><img src="img/sliders/1.jpg" alt=""></li>
      <li><img src="img/sliders/2.jpg" alt=""></li>
      <li><img src="img/sliders/3.jpg" alt=""></li>
   </ul>
  </div>
  <div class="title">
    <h4>Qui sommes-nous?</h4>
  </div>
  <div class="content">
    <p>Nous somme un atelier de la menuiserie en aluminum basé a casablanca, nous vous proposons pour votre intérieur, domicile ou local commercial, un large choix de portes et fenêtres fabriquées avec soin dans nos ateliers.</p>
    <ul>
      <li class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="1s"">
        <div class="content">
          <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="1s"" alt="">
          <h3>Prix approprié</h3>
          <p>Nous vous suggérons des prix appropriés et des produits de haute qualité</p>
        </div>
      </li>
      <li  class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="1.5s"">
      <div class="content">
        <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="1.5s"" alt="">
        <h3>Devis gratuit</h3>
        <p>Demandez un devis gratuitement par e-mail ou contactez notre service client </p>
      </div>
      </li>
      <li id="last" class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="2s"">
      <div class="content">
        <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="2s"" alt="">
        <h3>Déplacement gratuit</h3>
        <p> on se déplaceront à la porte de votre maison gratuitement, sans payer les frais </p>
        </div>
      </li>
      <span class="label label-default"></span>
    </ul>
    <a  class="wow fadeInUp data-wow-duration="1s" data-wow-delay="1s""  href="#!contact">Contacter nous</a>
  </div>
</section>
<div ng-include="'views/includes/allProducts.html'"></div>
