

<section id="about-us">
  <div class="title">
    <h4>Qui sommes-nous?</h4>
  </div>
  <div class="content">

    <p>Nous somme un atelier de la menuiserie en aluminum basé a casablanca, nous vous proposons pour votre intérieur, domicile ou local commercial, un large choix de portes et fenêtres fabriquées avec soin dans nos ateliers.</p>
    <ul>
      <li class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="1s"">
        <div class="content">
          <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="1s"" alt="">
          <h3>Sans paiement de TVA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        </div>
      </li>
      <li  class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="1.5s"">
      <div class="content">
        <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="1.5s"" alt="">
        <h3>Devis gratuit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      </li>
      <li id="last" class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="2s"">
      <div class="content">
        <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="2s"" alt="">
        <h3>Déplacement gratuit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      </li>
      <span class="label label-default"></span>
    </ul>
    <a  class="wow fadeInUp data-wow-duration="1s" data-wow-delay="1s""  href="#!contact">contacter nous maintenant</a>
  </div>
</section>
<div ng-include="'views/includes/allProducts.html'"></div>
