

<section id="about-us">
  <div class="title">
    <h4>Qui sommes-nous?</h4>
  </div>
  <div class="content">

    <p>Nous somme un atelier de la menuiserie en aluminum basé a casablanca, nous vous proposons pour votre intérieur, domicile ou local commercial, un large choix de portes et fenêtres fabriquées avec soin dans nos ateliers.</p>
    <ul>
      <li class="col-md-4 col-xs-12">
        <div class="content">
          <img src="img/success-icon.png" alt="">
          <h3>Sans paiement de TVA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        </div>
      </li>
      <li  class="col-md-4 col-xs-12">
      <div class="content">
        <img src="img/success-icon.png" alt="">
        <h3>Devis gratuit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      </li>
      <li id="last" class="col-md-4 col-xs-12">
      <div class="content">
        <img src="img/success-icon.png" alt="">
        <h3>Déplacement gratuit</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      </div>
      </li>
      <span class="label label-default"></span>
    </ul>
    <a   href="#!contact">contacter nous maintenant</a>
  </div>
</section>
<div ng-include="'views/includes/allProducts.html'"></div>
<script type="text/javascript">
  $("#contact").click(function(){

  });

  $(".item > a").click(function(){
  //  $("body").animate({ scrollTop: 0 },0);
  });

</script>
