<footer>
 <div class="content">
   <div class="top"><i class="fa fa-arrow-up"></i></div>
   <ul>
     <li><a class="fa fa-facebook wow fadeInUp data-wow-duration="2s" data-wow-delay="1s"" href="#"></a></li>
     <li><a class="fa fa-twitter wow fadeInUp data-wow-duration="2s" data-wow-delay="1.5s"" href="#"></a></li>
     <li><a class="fa fa-google wow fadeInUp data-wow-duration="2s" data-wow-delay="2s"" href="#"></a></li>
   </ul>
   <p>2017 (c) جميع الحقوق محفوظة</p>
 </div>
</footer>
<!-- Latest compiled wow.js -->
<script src="js/wow.min.js"></script>
<script src="js/script.js"></script>
