

<section id="about-us">
  <div class="title">
    <h4>من نحن؟</h4>
  </div>
  <div class="content">
    <p>نحن شركة  متخصصة في تصنيع منتجات الألومنيوم وتشتمل منتجات واسعة النطاق و التي تعرضها الشركة على
زبناءها ,نحن نقدم لمنزلك أو مقر عملك أحدث منتجات الأليمنيوم والزجاج المصنعة بعناية في ورش العمل لدينا</p>
  <ul>
      <li class="col-md-4 col-xs-12">
        <div class="content">
          <img src="img/success-icon.png" alt="">
          <h3>أثمنة جد مناسبة</h3>
          <p>نلتزم بإرضاءكم بأثمن مناسبة، و منتوجات عالية الجودة عند زيارتنا في معارضنا </p>
        </div>
      </li>
      <li  class="col-md-4 col-xs-12">
      <div class="content">
        <img src="img/success-icon.png" alt="">
        <h3>طلب السعر مجاني</h3>
        <p>أطلب السعر مجانا عبر بريدنا الإلكتروني أوعبر الإتصل بمرشد خدمة الزبناء لدينا</p>
      </div>
      </li>
      <li id="last" class="col-md-4 col-xs-12">
      <div class="content">
        <img src="img/success-icon.png" alt="">
        <h3>التنقل و أخذ المقاسات بالمجان</h3>
        <p>سوف نتنقل إلى باب منزلك أو مقر عملك مجانا, دون دفع التكاليف</p>
      </div>
      </li>
      <span class="label label-default"></span>
    </ul>
    <a   href="#!contact">إتصل بنا</a>
  </div>
</section>
<section id="our-products">
  <div class="title">
    <h4>منتوجاتنا</h4>
  </div>
  <div class="content">
    <div class="row">
      <div class="item col-md-4">
        <div class="content">
          <a href="#!produit/portes">
            <img src="img/porte.jpg" alt="">
            <div class="title text-center">
              <h3>أبواب</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item col-md-4">
        <div class="content">
          <a href="#!produit/cuisines">
            <img src="img/cuisine.jpg" alt="">
            <div class="title text-center">
              <h3>مطابخ</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item col-md-4">
        <div class="content">
          <a href="#!produit/fenetres">
            <img src="img/fenetre.jpg" alt="">
            <div class="title text-center">
              <h3>نوافذ</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item col-md-4">
        <div class="content">
          <a href="#!produit/aquarium">
            <img src="img/aquarium.jpg" alt="">
            <div class="title text-center">
              <h3>أحواض السمك</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item col-md-4">
        <div class="content">
          <a href="#!produit/verre_trempe">
            <img src="img/verre_trempe.jpg" alt="">
            <div class="title text-center">
              <h3>زجاج</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="item col-md-4">
        <div class="content">
          <a href="#!produit/placards">
            <img src="img/placard.jpg" alt="">
            <div class="title text-center">
              <h3>خرانة الملابس</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $("#contact").click(function(){

  });

  $(".item > a").click(function(){
  //  $("body").animate({ scrollTop: 0 },0);
  });

</script>
