

<section id="about-us">
  <div class="slider">
    <div class="presentation">
      <h1><span>هل تبحث عن ورشة عمل موثوقة وذات خبرة في قطاع نجارة الألومنيم</span></h1>
      <h1><span>إتصل بنا الآن وأطلب السعر مجانا</span></h1>
      <a  class="wow fadeInUp data-wow-duration="1s" data-wow-delay="1s""  href="#!contact"> إتصل بنا</a>
    </div>
    <ul class="rslides">
      <li><img src="img/sliders/1.jpg" alt=""></li>
      <li><img src="img/sliders/2.jpg" alt=""></li>
      <li><img src="img/sliders/3.jpg" alt=""></li>
   </ul>
  </div>
  <div class="title">
    <h4>من نحن؟</h4>
  </div>
  <div class="content">
    <p>
    نحن  ورشة  متخصصة في تصنيع منتجات الألومنيوم وتشتمل منتجات واسعة النطاق و التي نعرضها على زبنائنا
,نحن نقدم لمنزلك أو مقر عملك أحدث منتجات الأليمنيوم والزجاج المصنعة بعناية في ورش العمل لدينا</p>
  <ul>
      <li class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="1s"">
        <div class="content">
          <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="1s"" alt="">
          <h3>أثمنة جد مناسبة</h3>
          <p>نلتزم بإرضاءكم بأثمن مناسبة، و منتوجات عالية الجودة عند زيارتنا في معارضنا </p>
        </div>
      </li>
      <li  class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="1.5s"">
      <div class="content">
        <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="1.5s"" alt="">
        <h3>طلب السعر مجاني</h3>
        <p>أطلب السعر مجانا عبر بريدنا الإلكتروني أوعبر الإتصل بمرشد خدمة الزبناء لدينا</p>
      </div>
      </li>
      <li id="last" class="col-md-4 col-xs-12 wow fadeIn data-wow-duration="2s" data-wow-delay="2s"">
      <div class="content">
        <img src="img/success-icon.png" class="wow zoomIn data-wow-duration="2s" data-wow-delay="2s"" alt="">
        <h3>التنقل و أخذ المقاسات بالمجان</h3>
        <p>سوف نتنقل إلى باب منزلك أو مقر عملك مجانا, دون دفع التكاليف</p>
      </div>
      </li>
      <span class="label label-default"></span>
    </ul>
    <a class="wow fadeInUp data-wow-duration="1s" data-wow-delay="1s""  href="#!contact{{language}}">إتصل بنا</a>
  </div>
</section>
<div ng-include="'views/includes/ar/allProducts.html'"></div>
